<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Username and password validation</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn").click(function () {
                var v1 = /^[a-zA-Z]+$/;
                var v2 = /^[a-zA-Z]+$/;
                var v3 = /^[a-zA-Z0-9]{1,20}[@][a-zA-Z0-9]{3,12}[.][a-zA-Z]{1,7}$/;
                var v4 = /^[6-9][0-9]{9}$/;
                var v5 = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$]).{6,20}$/;

                var name1 = $('#firstname').val();
                var lastname = $('#lastname').val();
                var email = $('#email').val();
                var telephone = $('#mobile').val();
                var passw = $('#password').val();

                var inputVal = new Array(name1, lastname, email, telephone, passw);

                var inputMessage = new Array("name", "lastname", "email address", "telephone number", "password");
                var valid = 1;
                $('.err').hide();
                if (inputVal[0] == "") {
                    $('#first').after('<span class="err"> Please enter your ' + inputMessage[0] + '</span>');
                    stop_submitting_form();
                    valid = 0;
                }
                else if (!v1.test(name1)) {
                    $('#first').after('<span class="err"> Letters only</span>');
                    stop_submitting_form();
                    valid = 0;
                }

                if (inputVal[1] == "") {
                    $('#last').after('<span class="err"> Please enter your ' + inputMessage[1] + '</span>');
                    stop_submitting_form();
                    valid = 0;
                }
                else if (!v2.test(lastname)) {
                    $('#last').after('<span class="err"> Letters only</span>');
                    stop_submitting_form();
                    valid = 0;
                }

                if (inputVal[2] == "") {
                    $('#em').after('<span class="err"> Please enter your ' + inputMessage[2] + '</span>');
                    stop_submitting_form();
                    valid = 0;
                }
                else if (!v3.test(email)) {
                    $('#em').after('<span class="err"> Please enter a valid email address</span>');
                    stop_submitting_form();
                    valid = 0;
                }

                if (inputVal[3] == "") {
                    $('#mob').after('<span class="err"> Please enter your ' + inputMessage[3] + '</span>');
                    stop_submitting_form();
                    valid = 0;
                }
                else if (!v4.test(telephone)) {
                    $('#mob').after('<span class="err"> Numbers only</span>');
                    stop_submitting_form();
                    valid = 0;
                }

                if (inputVal[4] == "") {
                    $('#pass').after('<span class="err"> Please enter your ' + inputMessage[4] + '</span>');
                    stop_submitting_form();
                    valid = 0;
                }
                else if (!v5.test(passw)) {
                    $('#pass').after('<span class="err"> Your' + inputMessage[4] + 'must contain atleast one $@,a-z,A-Z,0-9 and 6 to 20 length</span>');
                    stop_submitting_form();
                    valid = 0;
                }
                if (valid) {
                //   window.alert("<h4>Submit this form</h4>");
                    $("form").submit(function (e) {
                        e.currentTarget.submit();
                    });
                }
            });
        });
        function stop_submitting_form() {
            $("form").submit(function (e) {
                //  alert('submit intercepted');
                e.preventDefault(e);
            });
        }
    </script>

    <style>
        .e {
            border: 2px solid red;
        }

        .err {
            color: red;
        }

        body {
            font-family: "Open Sans";
            font-size: 14px;
        }

        .container {
            width: 500px;
            margin: 25px auto;
        }

        form {
            padding: 20px;
            background: #2c3e50;
            color: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        form label,
        form input,
        form button {
            border: 0;
            margin-bottom: 3px;
            display: block;
            width: 100%;
        }

        form input {
            height: 25px;
            line-height: 25px;
            background: #fff;
            color: #000;
            padding: 0 6px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        form button {
            height: 30px;
            line-height: 30px;
            background: #e67e22;
            color: #fff;
            margin-top: 10px;
            cursor: pointer;
        }

        form .error {
            color: #ff0000;
        }
    </style>
    
</head>

<body>
    <div class="container">
        <h2>Registration</h2>
        <form action="/auth/register" name="registration" method="POST">

            <label for="firstname" id="first">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="John" />

            <label for="lastname" id="last">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Doe" />

            <label for="mobile" id="mob">Mobile Number</label>
            <input type="text" name="mobile" id="mobile" placeholder="9959941828" />

            <label for="email" id="em">Email</label>
            <input type="email" name="email" id="email" placeholder="john@doe.com" />

            <label for="password" id="pass">Password</label>
            <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />

            <button type="submit" id="btn">Sign Up</button>

            {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
            
            {{#if message1}}
            <h4 class="alert alert-success mt-4">{{message1}}</h4>
            {{/if}}

            <div class="container signin">
                <h3>Already have an account? <a href="/login">Sign in</a>.</h3>
            </div>
        </form>
    </div>
</body>

</html>