.brand {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .main-nav {
    position: sticky;
    z-index: 1;
    top: 0px;
    height: 30px;
  }
  
  .top-link {
    float: right;
  }
  body > div > nav > div > span:nth-child(1) {
    margin-right: 30px;
  }
  nav ul {
    max-width: 1200px;
    margin: 0 auto;
    white-space: nowrap;
  }
  nav li {
    list-style-type: none;
    display: inline-block;
    width: 25%;
  }
  nav li a {
    text-decoration: none;
    color: white;
  }
  .banner {
    position: relative;
  }
  .banner img {
    max-width: 100%;
  }
  .banner .welcome {
    position: absolute;
    left: 0;
    top: 30%;
    background-color: rgb(92, 91, 91);
    color: white;
    padding: 30px;
  }
  .banner h2 {
    font-size: 52px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .b1 {
    width: 10%;
    height: 60px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  .b2 {
    width: 10%;
    height: 60px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  .b1 p {
    top: 20px;
    left: 20%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
  }
  .b2 p {
    top: 20px;
    left: 30%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tip {
    height: 300px;
    position: relative;
  }
  .tips {
    left: 700px;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    padding: 10px;
  }
  .buttons {
    position: absolute;
    left: 630px;
  }
  
  /*home style*/
  .bimg {
    position: relative;
  }
  .log {
    background-color: rgba(92, 91, 91, 0.5);
    position: absolute;
    top: 200px;
    left: 400px;
    height: 500px;
    width: 700px;
  }
  